node_modules
npm-debug.log
.env
.git
.gitignore
README.md
pdf_extracted.txt
softr
C:\Users\HP\.gemini\antigravity\brain\b37c2b9d-0b14-4280-b6fa-65c8223b104a\task.md
C:\Users\HP\.gemini\antigravity\brain\b37c2b9d-0b14-4280-b6fa-65c8223b104a\implementation_plan.md
C:\Users\HP\.gemini\antigravity\brain\b37c2b9d-0b14-4280-b6fa-65c8223b104a\walkthrough.md
